body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 50 0 0 0;
  margin: 0;
}
/* Juner Formatting */
/* https://coolors.co/ebe9e9-f3f8f2-3581b8-fcb07e-dee2d6 */
.navbar-toggler{
  background-color: #fff !important;
}
.nav-format {
  background-color: #113c5c;
  font-size: 1.2rem;
  padding: 20px !important;
}

.nav-link, .navbar-brand{
  color: #EBE9E9 !important ;
  padding: 10px;
  /* border-radius: 10px 10px 0px 0px; */
}
.nav-link {
  margin-left: 10px;
}
.nav-link:hover{
  color: #3581B8 !important;
  background-color: #EBE9E9 !important;
  border-top: 1px solid #FCB07E !important;
  border-bottom: 1px solid #FCB07E !important;
}
/* designing main.js */
.main{
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.7);
}


/* styling carousel image */
.c-item{
  height: 100vh;
}

.image-wrapper{
  margin: 0px 0px;
}
.marquee-style img{
  width: 30%;
  margin: 0px -200px;
}
.fueling{
  background-color: #EBE9E9 ;
}
.fueling-content{
  color: #fff;
  background: linear-gradient(45deg, #113c5c, #774321) ;
  padding: 20px 20px;
  border-radius: 25px;
}
.card-image-bg{
  background: linear-gradient(60deg, #0d4e80, #95ade0) ;
}
.work-link{
  color: #0d4e80;
  margin-right: 10px;
}
.work-link:hover{
  color: #FCB07E;
  margin-right: 0px;
}
.footer-link {
  color: #fff;
}
.footer-link ul li, .footer-link ul li a{
  list-style: none;
  color: #fff;
}
.footer-link ul li a {
  text-decoration: none;
}
.footer-link ul li a:hover{
  color: orange;
}
.social-accounts ul li a{
  text-decoration: none;
  background-color: white !important;
}
.whats-in{
  background-color: #113c5c;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.services-holder{
  background-color: #113c5c;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
}.services-holder button{
  background-color: transparent !important;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 40px;
}
.services-sub{
  background-color: #113c5c;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #fff;
}
.services-sub-desc{
  background-color: aliceblue;
}
.customer-login{
  background-color: #0d4e80;
}
.customer-login a{
  color: #FCB07E;
  text-decoration: none;
}
.customer-login a:hover{
  color: #EBE9E9;
}
.get-in-touch{
  background-color: #f0833a;
  border: 2px solid rgb(125, 134, 146);
  border-radius: 25px;
  padding: 10px 40px;
  color: #fff;
}
.get-in-touch:hover{
  border: 2px #0d4e80 solid;
  color:#bed5e6;
}
.inhouse button{
  background-color: transparent !important;
  border: 2px solid rgb(16, 99, 181) !important;
  border-radius: 500px;
  padding: 10px 40px;
}
.inhouse button:hover{
  background-color: #FCB07E !important;
}
.contact-form{
  background-color: #cde0e6;
  border-radius: 25px;
}
.marquee-filter{
  filter: saturate(0);
}